<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Video" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="isShow" property="isshow" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findVideoNewsList" parameterType="com.entity.Video" resultType="com.entity.Video" >
    SELECT * FROM video ORDER BY sort ASC limit 0,3
  </select>
    <select id="findVideoList" parameterType="com.entity.Video" resultType="com.entity.Video" >
    select * from video 
  </select>
  <select id="selectVideoCount" parameterType="com.entity.Video" resultType="java.lang.String" >
		SELECT count(*) FROM Video
  </select>
</mapper>